.main {
    background-size: 100%; 
    background-repeat: no-repeat;
    animation-name: fadein;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@media only screen and (max-width: 768px) {
    .main {
        height: 118vw;
    }
    @keyframes fadein {
        from {
            background-image: url("../images/background2.jpg");
        }
        to {
            background-image: url("../images/background2-b.jpg");
        }
    }
}

@media only screen and (min-width: 769px) {
    .main {
        height: 44vw;
    }
    @keyframes fadein {
        from {
            background-image: url("../images/background.jpg");
        }
        to {
            background-image: url("../images/background-b.jpg");
        }
    }
}

.type-area {
    text-align: center;
    font-size: 2rem;
    animation-name: gradation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes gradation {
    from {
        color: black
    }
    to {
        color: white
    }
}


.typed {
    font-weight: bold;
}