<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello World</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!-- import CSS -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div id="app" :style="styleVisibility">
        <el-menu
            mode="horizontal"
            active-text-color="#ffd04b"
            :background-color="styleThemeColor.menuAndFooter"
            text-color="#fff"
        >
            <el-menu-item index="1">Kanatani28.github.io</el-menu-item>
            <el-menu-item index="2">Skills</el-menu-item>
        </el-menu>

        <el-container>
            
            <el-header :height="headerHeight">
                <el-image id="header-my-icon"
                  :src="'img/frog.jpg'"
                  :fit="fit"
                ></el-image>
                <h1 class="heading-message">Hello World</h1>
                <div class="div-line">
                    <i style="font-size: 3rem" class="el-icon-s-platform"></i>
                </div>
                <p class="sub-message">I'm a software engineer.</p>
            </el-header>

            <el-main>
                <h2 class="main-title">Skills</h2>
                <div class="div-line">
                    <i style="font-size: 2rem" class="el-icon-s-tools"></i>
                </div>
                <h2 class="main-title-sub">Languages</h2>
                <div class="div-line2">
                </div>
                <template v-for="(lang, index) of skills.languages">
                    <el-row v-if="index % 4 === 0" :gutter="10">
                        <el-col :span="6" v-for="lang in skills.languages.slice(index, index + 4)">
                            <div class="grid-content bg-purple">
                                <el-image :src="'img/' + lang.path" :fit="fit">
                                </el-image>
                                <div v-if="!isSmartPhone" class="skill-label">{{ lang.name }}</div>
                            </div>
                        </el-col>
                    </el-row>
                </template>

                <div class="div-line2">
                </div>
                <h2 class="main-title-sub">Others</h2>
                <div class="div-line2">
                </div>
                <template v-for="(other, index) of skills.others">
                    <el-row v-if="index % 4 === 0" :gutter="10">
                        <el-col :span="6" v-for="other in skills.others.slice(index, index + 4)">
                            <div class="grid-content bg-purple">
                                <el-image :src="'img/' + other.path" :fit="fit">
                                </el-image>
                                <div v-if="!isSmartPhone" class="skill-label">{{ other.name }}</div>
                            </div>
                        </el-col>
                    </el-row>
                </template>
            </el-main>

            <el-footer>Copyright © maroKanatani. All Rights Reserved.</el-footer>
        </el-container>
    </div>
</body>
    <!-- import JavaScript -->
    <script src="js/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ismobilejs@1/dist/isMobile.min.js"></script>
    <script src="js/index.js"></script>
</html>